/*content*/

.content-container.homePage h2 {
    font-weight: 100;
}

.table-stock-img {
    text-align: center;
}

tbody td img {
    height: 20px;
}

.rent-btn {
    color: var(--text-bright);
}

/*footer*/

