/*header*/
nav.homePage-navbar {
    display: flex;
    align-items: center;
    background-color: #363636;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
}

nav.homePage-navbar a {
    color: #ffff;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

/*content*/
 
.content-container.homePage{
    background-color: var(--background-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    width: 100%;
    height: fit-content;
}

.content-container.homePage h2 {
    font-weight: 100;
}

table.content-table {
    width: 100%;
    padding-top: 20px;
    border-collapse:  separate;
    border-spacing: 0 10px;
    border-image-repeat:
}

.content-table tbody tr {
    background-color: var(--background-grey);
}

.content-table tbody tr td:first-child {
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
    padding-left: 20px;
}

thead th,
tbody td {
    text-align: left;
    padding: 10px;
}

thead th:first-child {
    padding-left: 20px;
}

tbody td:last-child {
    background-color: var(--background-dark);
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    cursor: pointer;
}

.table-stock-img {
    text-align: center;
}

tbody td img {
    height: 20px;
}

.rent-btn {
    color: var(--text-bright);
}

/*footer*/

